:root {
  /* Default font variables */
  --default-text-button: bold 18px sans-serif;
  --default-text: 14px sans-serif;
  --default-text-bold: bold 14px sans-serif;
  --default-text-mono: 14px monospace;
  --default-title: bold 24px sans-serif;
  --default-description: 12px sans-serif;

  /* Default size variables */
  --default-join-width: 200px;
  --default-join-height: 60px;
  --default-button: 42px;
  --default-border-radius: 12px;
  --default-border-radius-xl: 24px;
  --default-padding-sm: 6px;
  --default-padding: 12px;
  --default-padding-xl: 24px;
  --default-padding-button: 20px 48px;
  --default-padding-card: 36px;
  --default-margin-sm: 4px;
  --default-margin: 18px;
  --default-margin-xl: 30px;
  --default-margin-arrow: 128px;

  /* Default color variables */
  --default-background: rgba(176,176,176,0.1);
  --default-color: rgba(232,232,232,0.8);
  --default-color-online: rgba(21,183,51,0.8);
  --default-blur: 5px;
  --default-loader-blur: 20px;
  --default-border: 2px solid rgba(232,232,232,0.2);
  --default-border-color: rgba(232,232,232,0.2);
  --default-shadow: 0px 0px 0px 0px #13131326;

  /* Default transition timers and curves */
  --default-timer-sm: 0.1s ease-in-out;
  --default-timer: 0.3s ease-in-out;
  --default-timer-xl: 0.5s ease-in-out;

  /* Hover effects */
  --hover-background: rgba(176,176,176,0.2);
  --hover-color: rgba(255,255,255,1);
  
  /* Clicked effects */
  --clicked-blur: 10px;
  --clicked-shadow: 0px 0px 20px 10px #13131326;
}

.page-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flexbox;
  overflow: hidden;
  background-color: var(--test-background);
  font-family: sans-serif;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transition: var(--default-timer-xl);
}

.page-loader.fade-out {
  opacity: 0;
}

.loader-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(var(--default-loader-blur)) brightness(1);
  z-index: -1;
}

.progress-bar {
  width: 80%;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: var(--default-border-radius-xl);
  overflow: hidden;
}

.progress-bar .progress {
  width: 0;
  height: 100%;
  background-color: var(--default-color-online);
  transition: width var(--default-timer);
}

.page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 10vh;
}

.logo-container img {
  user-select: none;
  -webkit-user-drag: none;
  display: flex;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90vh;
}

.info-card {
  display: flex;
  max-width: var(--default-join-width);
  max-height: var(--default-join-height);
  min-width: var(--default-join-width);
  min-height: var(--default-join-height);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(var(--default-blur));
  box-shadow: var(--default-shadow);
  border: var(--default-border);
  border-radius: var(--default-border-radius);
  padding: 0px;
  margin: var(--default-margin);
  transition: all var(--default-timer) 0.3s, background-color var(--default-timer), box-shadow var(--default-timer), backdrop-filter var(--default-timer);
}

.info-card:hover {
  background: var(--hover-background);

  transition: background-color var(--default-timer);
}

.info-card .info-arrow {
  background: transparent;
  position: absolute;
  display: inline;
  opacity: 1;
  margin-bottom: var(--default-margin-arrow);
  height: 60px;
  width: 60px;
  pointer-events: none;

  transition: transform var(--default-timer) 0.6s, opacity var(--default-timer) 0.6s;
}

.info-card .join-info {
  opacity: 1;
  transform: scale(1);
  width: var(--default-join-width);
  height: var(--default-join-height);
  user-select: none;
  align-items: center;
  align-content: center;
  text-align: center;
  border-radius: var(--default-border-radius);
  font: var(--default-text-button);
  color: var(--default-color);
  cursor: pointer;

  transition: opacity var(--default-timer) 0.6s, transform var(--default-timer) 0.6s, height var(--default-timer) 0.6s, width var(--default-timer) 0.6s, color var(--default-timer);

}

.info-card .join-info:hover {
  color: var(--hover-color);

  transition: color var(--default-timer);
}

/* ###### VISIBLE STATE ##### */

.info-card .server-info {
  max-width: 0px;
  max-height: 0px;
  opacity: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  pointer-events: none;

  transition: max-width var(--default-timer) 0.3s, max-height var(--default-timer) 0.3s, opacity var(--default-timer);
}

.info-div {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-div .info-title {
  display: flex;
  user-select: none;
  font: var(--default-title);
  color: var(--default-color);
  text-align: left;
}

.info-div .info-status {
  display: flex;
  user-select: none;
  align-content: center;
  align-items: center;
  font: var(--default-text);
  color: var(--default-color);
  text-align: right;
  border-radius: var(--default-border-radius-xl);
  padding: var(--default-padding-sm) var(--default-padding);
  background: var(--default-color-online);
}

.name-label {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
  text-align: start;
  font: var(--default-text);
  color: var(--default-color);
  margin-top: var(--default-margin-xl);
}

.name-div {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: var(--default-margin-sm) 0px;
  background: var(--hover-background);
  border: var(--default-border);
  border-radius: 0 var(--default-border-radius) var(--default-border-radius) var(--default-border-radius);
}


.name-div label {
  display: inline;
  opacity: 1;
  font: var(--default-text-mono);
  color: var(--default-color);
  text-align: center;
  flex-grow: 1;
  transition: opacity var(--default-timer-sm), transform var(--default-timer-sm);
}

.name-div label.show-status {
  transform: scale(1);
}

.name-div label.hide-label {
  opacity: 0;
}

.name-div button {
  display: inline;
  height: var(--default-button);
  width: var(--default-button);
  background: var(--default-border-color);
  color: var(--default-color);
  border: none;
  cursor: pointer;

  transition: color var(--default-timer-sm);
}

.name-div button:hover {
  color: var(--hover-color);
}

.name-description {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
  text-align: center;
  font: var(--default-description);
  color: var(--default-color);
}

.address-label {
  display: flex;
  width: 100%;
  height: auto;
  user-select: none;
  text-align: start;
  font: var(--default-text);
  color: var(--default-color);
  margin-top: var(--default-margin);
}

.address-div {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: var(--default-margin-sm) 0px;
  background: var(--hover-background);
  border: var(--default-border);
  border-radius: 0 var(--default-border-radius) var(--default-border-radius) var(--default-border-radius);
}

.address-div label {
  display: inline;
  font: var(--default-text-mono);
  color: var(--default-color);
  text-align: center;
  flex-grow: 1;
  transition: opacity var(--default-timer-sm);
}

.address-div label.show-status {
  transform: scale(1);
}

.address-div label.hide-label {
  opacity: 0;
}

.address-div button {
  display: inline;
  height: var(--default-button);
  width: var(--default-button);
  background: var(--default-border-color);
  color: var(--default-color);
  border: none;
  cursor: pointer;
  transition: color var(--default-timer-sm);
}

.address-div button:hover {
  color: var(--hover-color);
}

.address-div button:hover {
  color: var(--hover-color);
}

.address-description {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
  text-align: center;
  font: var(--default-description);
  color: var(--default-color);
}

/* ##### VISIBLE STATE ##### */

.info-card.clicked .info-arrow {
  opacity: 0;
  transform: translateY(-100px);

  transition: transform var(--default-timer-sm), opacity var(--default-timer-sm);
}

.info-card.clicked .join-info {
  opacity: 0;
  width: 0px;
  height: 0px;
  transform: scale(0);

  transition: transform var(--default-timer-sm), width var(--default-timer-sm), height var(--default-timer-sm);
}

/* title label and status indicator */

.info-card.clicked {
  border-radius: var(--default-border-radius-xl);
  background: var(--hover-background);
  backdrop-filter: blur(var(--clicked-blur));
  box-shadow: var(--clicked-shadow);
  padding: var(--default-padding-card);
  max-width: 500px;
  max-height: 300px;

  /* transition: all var(--default-timer); */
  transition: padding var(--default-timer), max-width var(--default-timer), max-height var(--default-timer), border-radius var(--default-timer), background-color var(--default-timer), box-shadow var(--default-timer) 0.3s, backdrop-filter var(--default-timer) 0.3s;
}

.info-card.clicked .server-info {
  max-width: 500px;
  max-height: 300px;
  opacity: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  pointer-events: all;

  transition: max-width var(--default-timer), max-height var(--default-timer), opacity var(--default-timer) 0.3s;
}
